.rankings {
  font-size: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* 名字和成績間距 */
  opacity: 0;
  transform: translateY(30px);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rankName {
  min-width: 100px;
  text-align: right;
  font-size: 2vw;
}

.rankScore {
  min-width: 80px;
  text-align: left;
  font-size: 2vw;
}
